{delpackage alpha}
{namespace templates.alpha}

/**
 *
 */
{deltemplate FooTemplate}
 Alpha Template
{/deltemplate}


/**
 *
 */
{deltemplate FooTemplate variant="'Variant_2'"}
 Alpha Template - Variant 2
{/deltemplate}
