{delpackage beta}
{namespace templates.beta}

/**
 *
 */
{deltemplate FooTemplate}
 Beta Template
{/deltemplate}


/**
 *
 */
{deltemplate FooTemplate variant="'Variant_3'"}
 Beta Template - Variant 2
{/deltemplate}
